#pagelist #visibletitle{text-align:left;color:red;font-size:14px;font-family:verdana;margin-bottom:8px;}#article #title{font-size:16pt;color:black;font-family:times;font-weight:bold;}#article #subtitle{font-size:12pt;color:black;font-family:times;font-style:italic;}#article #byline{margin-top:8px;font-size:10pt;font-weight:bold;font-family:times;}#article #date{margin-top:8px;font-size:10pt;font-family:times;}#article #content{margin-top:8px;font-size:12pt;font-family:times;}#articlelist #visibletitle{text-align:left;color:red;font-size:14px;font-family:verdana;margin-bottom:8px;}#com_pressbox{margin:5px;width:170px;background-color:#cccccc;border:1px solid black;padding:2px;}#com_pressbox #header{font-size:medium;}#com_press #title{font-size:14pt;color:red;font-family:times;font-weight:bold;text-align:center;margin-bottom:5px;}#com_press #subtitle{font-size:12pt;color:gray;font-family:times;margin-bottom:10px;text-align:center;}#com_press #content{font-size:10pt;}#com_pressbiglist #visibletitle{text-align:left;color:red;font-size:14px;font-family:verdana;margin-bottom:8px;}#newsitem img{margin:5px;margin-bottom:8px;}#newsitem #title{font-size:12pt;color:black;font-weight:bold;font-family:verdana;}#newsitem #subtitle{font-size:10pt;color:gray;font-family:verdana;margin-bottom:5px;}#newsitem #content{font-size:9pt;font-family:verdana;margin-bottom:8px;}#programmenu{margin-left:8px;}#menuitem{display:inline;margin-right:15px;color:white;}#menuitem a{color:white;text-decoration:none;}#menuitem a:hover{text-decoration:underline;}#visibletitle{text-align:center;color:#cc0000;font-size:18px;font-family:verdana;margin-bottom:8px;}#newsletter #summary1{background-color:white;padding:3px;margin:2px;}#newsletter #summary2{background-color:#CCCCFF;padding:3px;margin:2px;}#newsletter #visibletitle{text-align:left;color:red;font-size:14px;font-family:verdana;margin-bottom:8px;}
/*
     FILE ARCHIVED ON 14:05:09 Jun 11, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:54:37 Nov 11, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 4.289
  CDXLines.iter: 15.342 (3)
  PetaboxLoader3.datanode: 65.708 (5)
  LoadShardBlock: 54.793 (3)
  exclusion.robots.policy: 0.181
  esindex: 0.025
  load_resource: 236.667
  captures_list: 82.381
  PetaboxLoader3.resolve: 174.235 (2)
  exclusion.robots: 0.194
*/