#treenav_1 a,#treenav_2 a,#treenav_3 a,#treenav_4 a{text-decoration:none;}#treenav_1 a:hover,#treenav_2 a:hover,#treenav_3 a:hover,#treenav_4 a:hover{text-decoration:underline;}#treenav_1{font-size:12px;font-weight:bold;line-height:14px;margin-bottom:5px;}#treenav_2{font-weight:bold;font-size:11px;}#treenav_3{font-size:11px;}#treenav_4{font-size:10px;}body,td{font-family:verdana;font-size:9pt;}#banner{background-image:url(/web/20170717104646im_/http://archive.fairvote.org/styles/images/header.jpg);background-position:bottom right;background-repeat:no-repeat;}#banner #toplogo{width:225px;height:90px;position:absolute;left:10px;top:5px;background-image:url(/web/20170717104646im_/http://archive.fairvote.org/styles/images/logo.red.gif);background-position:top left;background-repeat:no-repeat;}#horimenu{font-size:10pt;background-color:#CC3333;}#colA{border-right:1px dashed gray;}#searchtab{background-image:url(/web/20170717104646im_/http://archive.fairvote.org/styles/images/tab.red.gif);background-position:bottom right;background-repeat:no-repeat;width:209px;height:24px;}#toplogo{background-image:url(/web/20170717104646im_/http://archive.fairvote.org/styles/images/fairvote.red.jpg);background-position:bottom right;background-repeat:no-repeat;}
/*
     FILE ARCHIVED ON 10:46:46 Jul 17, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:54:37 Nov 11, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 165.237
  esindex: 0.011
  exclusion.robots.policy: 0.17
  CDXLines.iter: 14.341 (3)
  RedisCDXSource: 64.911
  PetaboxLoader3.resolve: 252.631
  LoadShardBlock: 82.131 (3)
  load_resource: 305.1
  exclusion.robots: 0.191
  PetaboxLoader3.datanode: 81.26 (4)
*/