TABLE{border:outset 0pt;border-collapse:collapse;border-spacing:0pt}TD{border:inset 0pt}#mainarea{max-width:475px;margin-left:8px;margin-right:8px;}#banner{height:96px;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;background-color:white;}#horimenu{color:white;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;height:20px;text-align:center;font-size:small;font-weight:bold;font-family:verdana;font-variant:small-caps;}#dotted{border-right:1px dashed gray;}#breadcrumb{padding:3px;}#searchtab{width:200px;height:24px;position:absolute;right:0px;top:73px;color:white;text-align:center;font-size:small;font-weight:bold;font-family:verdana;font-variant:small-caps;}body{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
/*
     FILE ARCHIVED ON 14:05:08 Jun 11, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:54:37 Nov 11, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  CDXLines.iter: 16.795 (3)
  exclusion.robots: 0.183
  PetaboxLoader3.resolve: 221.148 (3)
  RedisCDXSource: 3.395
  load_resource: 241.045
  PetaboxLoader3.datanode: 58.285 (5)
  captures_list: 109.346
  exclusion.robots.policy: 0.169
  LoadShardBlock: 79.907 (3)
  esindex: 0.015
*/